.anim-text {
  position: relative;
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 100px;
    background: #000;
    transition: 0.2s linear;
  }
}

.swiper-pagination-bullet-active {
  background: #ef5042;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 12px;
  background: #3b9271;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding-inline: 12px;
  transition: 0.2s linear;
  cursor: pointer;
  &:hover {
    background: #26644d;
  }
}
