.anim-text {
  position: relative;
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 100px;
    background: #000;
    transition: 0.2s linear;
  }
}

.swiper-pagination-bullet-active {
  background: #EF5042;
}