@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
}

body .dark {
  background: #fff !important;
}

* {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.wrapper {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.dark .dark-theme-color {
  color: #000 !important;
}
